<!-- <footer>
  <div class="container">
    <mat-toolbar>
      <mat-toolbar-row>
        <h1>FingerTricks</h1>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
  
      <mat-toolbar-row>
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <div class="social-links">
            <ul>
                <li *ngFor="let footer of redesSociais">
                    <a [href]="footer.link" target="_blank">
                        <img [src]="footer.icone" [alt]="footer.nome">
                    </a>
                </li>
            </ul>
            
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
</footer> -->

<footer>
  <div class="container">
    <div class="copyright">
      <h1>FingerTricks</h1>
    </div>
    <div class="social-links">
        <ul>
            <li *ngFor="let footer of redesSociais">
                <a [href]="footer.link" target="_blank">
                    <img src="{{ footer.icone }}" alt="{{ footer.nome }}">
                </a>
            </li>
        </ul>
    </div>
  </div>
</footer>