<mat-toolbar>
    <h1><a href="/">FingerTricks</a></h1>
    
    <span class="example-spacer"></span>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Produtos
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="fingerboard-completo">Fingerboard Completo</a></li>
        <li><a class="dropdown-item" href="obstaculos">Obstáculos</a></li>
        <li><a class="dropdown-item" routerLink="home">Acessórios</a></li>
      </ul>
    </div>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="quem-somos">Quem Somos</button>
    <button mat-button routerLink="fingerboard-completo">Contato</button>
  </mat-toolbar>

  <div class="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-1" type="search" placeholder="O que você está procurando?" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Pesquisar</button>
            </form>
        </div>
      </nav>
  </div>
  