<div class="container">
    <!-- <h1>Olá {{ nome }} {{ sobrenome }}!</h1> -->
    <mat-grid-list cols="4" rowHeight="2:4">
        <mat-grid-tile *ngFor="let item of rodas; let i = index">
            <mat-card>
                <img mat-card-image [src]="item.foto" [alt]="item.produto">
                <mat-card-content>
                    <h3>{{ item.produto }}</h3>
                    <ul>
                        <li>{{ item.preco | currency }}</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button 
                        [class]="item.favorito === false ? 'favorite' : 'favorite-checked'" 
                        [title]="item.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'" 
                        mat-button 
                        (click)="toggleFavorito(i)">
                    <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="favorite"></mat-icon>
                    </button>
                    <button mat-button (click)="verDetalhes(item.id)">Mais detalhes</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
