<div class="container">
    <h2>Seus produtos favoritos</h2>
    <section class="lista-favoritos">
        <mat-grid-list cols="4" rowHeight="2:4">
            <div *ngFor="let completo of rodas; let i = index">
                <mat-grid-tile *ngIf="completo.favorito">
                    <mat-card>
                        <img mat-card-image [src]="completo.foto" [alt]="completo.produto">
                        <mat-card-content>
                            <h3>{{ completo.produto }}</h3>
                            <ul>
                                <li>{{ completo.preco | currency }}</li>
                            </ul>
                        </mat-card-content>
                        <mat-card-actions>
                            <button
                                [class]="completo.favorito === false ? 'favorite' : 'favorite-checked'"
                                [title]="completo.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
                                mat-button
                                (click)="toggleFavorito(i)">
                                <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="star"></mat-icon>
                            </button> 
                            <button mat-button (click)="verDetalhes(completo.id)">Mais detalhes</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </section>
    <h1>Rodas</h1>
    <mat-grid-list cols="4" rowHeight="2:4">
        <mat-grid-tile *ngFor="let item of rodas; let i = index">
            <mat-card>
                <img mat-card-image [src]="item.foto" [alt]="item.produto">
                <mat-card-content>
                    <h3>{{ item.produto }}</h3>
                    <ul>
                        <li>{{ item.preco | currency }}</li>
                    </ul>
                </mat-card-content>
                <mat-card-actions>
                    <button 
                        [class]="item.favorito === false ? 'favorite' : 'favorite-checked'" 
                        [title]="item.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'" 
                        mat-button 
                        (click)="toggleFavorito(i)">
                    <mat-icon aria-hidden="false" aria-label="Favoritos" fontIcon="star"></mat-icon>
                    </button>
                    <button mat-button (click)="verDetalhes(item.id)">Mais detalhes</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
